@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Love+Ya+Like+A+Sister&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Love Ya Like A Sister', cursive;
    --fonte3: 'Sriracha', cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(233, 203, 231);
    font-family: var(--fonte1);
}

main {
    max-width: 1000px;
    background-position: center;
    margin: auto;
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
}

header > p {
    padding-bottom: 20px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: darkorange;
}

header a, footer a{
    text-decoration: none;
    color: orange;
}

header > h2 {
    background-color: darkred;
    padding: 10px;
    font-family: var(--fonte2);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

.normal {
    background-color: white;
    box-shadow: inset 1px 1px 13px 5px  rgba(0, 0, 0, 0.24);
}

.imagem {
    background-color: rgb(0, 0, 0);
    color: white;

}
section.imagem {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541);
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.548);
    margin-bottom: 300px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.863);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.616);
}

section.normal {
    padding-top: 300px;
    padding-bottom: 300px;
}

.normal p {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);
}

section#img01 {
    background-image: url(imagens/Beijinho-na-testa-na-igreja.jpg);
    background-position: center center;
    background-size: cover;
}

section#img02 {
    background: url(imagens/Sua-mão-na-minha.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section#img03 {
    background-image: url(imagens/os-dois-no-pao.png);
    background-position: center center;
    background-size: cover;
}

section#img04 {
    background-image: url(imagens/no-subway.jpg);
    background-position: center center;
    background-size: cover;
}

section#img05 {
    background-image: url(imagens/melhores-momentos.png);
    background-position: center center;
    background-size: cover;
}

section#img06 {
    background-image: url(imagens/meu-niver.jpg);
    background-position: center center;
    background-size: cover;
}

section#img07 {
    background-image: url(imagens/olha-o-dando.png);
    background-position: center center;
    background-size: cover;
}

section#img08 {
    background-image: url(imagens/gravida-sera.jpg);
    background-position: center center;
    background-size: cover;
}

section#img09 {
    max-width: 1000px 650px;
    background-image: url(imagens/eles-na-igreja-vermelha.png);
    background-position: center center;
    background-size: cover;
}

section#img10 {
    background-image: url(imagens/rindo-pra-camera.jpeg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

section#img11 {
    background-image: url(imagens/minha-nene-gatona.jpg);
    background-position: center center;
    background-size: cover;
}

section#img12 {
    background-image: url(imagens/aliança-casamento.png);
    background-position: center center;
    background-size: cover;
}

section#img13 {
    background-image: url(imagens/Comendo-sorvete.jpeg);
    background-position: center center;
    background-size: cover;
}

section#img14 {
    background-image: url(imagens/meu-melhor-amigo-e-o-meu-mozao.jpg);
    background-position: center center;
    background-size: cover;
}

nav {
    color: rgb(208, 80, 247);
    background-color: rgb(98, 218, 255);
    text-align: center;
    padding: 5px;
}

.sim {
    color: rgb(237, 104, 255);
    background-color: rgba(0, 0, 0, 0.616);
    display: inline-block;
    padding:5px ;
    margin-right: 50px;
    border-radius: 30px;
    text-decoration: none;
}

.nao {
    color: rgb(237, 104, 255);
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding:5px;
    margin-left: 50px;
    border-radius: 30px;
    text-decoration: none;
    
}

footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}